<h1 id="about-app">About This App</h1>
<p><em>On Virginia</em> is a visually rich environment in which users may
inspect, compare, and analyze two different eighteenth-century printings of
Thomas Jefferson's <em>Notes on the State of Virginia</em>, and study a third
modern annotated reading text. More so than is possible with any e-book, the app
simulates work with primary materials in an archive and provides an experience
of books as physical artifacts. Intended for scholars, students, and a general
public interested in America's founding, the application showcases the power of
tablet technology to transform the way we work with historical documents.
</p>

<p>The images here have been scanned from two unique and historical objects that
are now among the holdings of the University of Virginia's Albert Small Special
Collections Library. One set of scans reproduces a copy of <em>Notes on the
State of Virginia</em> that Jefferson had privately printed in Paris in 1785 and
that was presented to the Revolutionary War hero the Marquis de Lafayette.
(Jefferson's inscription to Lafayette, included and transcribed <!--a
href="../images/1785/000013143_0012.jpg" target="blank" BRAD NOT SURE HOW TO
MAKE THIS POP-UP-->here, appears on the book's flyleaf.) The second set of scans
is taken from Jefferson's own copy of the first published edition, which was
printed for the London publisher John Stockdale in 1787. This copy contains
hundreds of annotations, corrections, and revisions in Jefferson's own
handwriting, many of them interlineated in the text or set off in the margins;
other additions appear on scraps of paper that were later inserted when the copy
was rebound in the twentieth century. (We also include in the app the maps,
letters, and other documentary materials that were bound with the original text
at this time.) What this second, personal copy reveals—and this app
emphasizes—is that Jefferson never thought of his <em>Notes</em> as a finished
book. Indeed, filled with marginalia and manuscript inserts, Jefferson's
<em>Notes</em> strains against received notions of the book as printed, fixed,
and standardly paginated. 
</p>

<p><em>On Virginia</em> is much more than an electronic book then: it is a
bibliographic environment. Split-pane synchronized scrolling allows for the
comparison and collation of two printings of the <em>Notes</em>. In addition,
materials that Jefferson added to his personal copy have been transcribed and
remediated so that users of this application can see Jefferson at work,
rethinking and extending his <em>Notes</em> over decades.
</p>

<p>While swiping between color scans immerses a user in an archival experience,
the user interested in reading sections of <em>Notes on the State of
Virginia</em> straight through may turn or tip his or her iPad and view a single
document in portrait orientation. For the student unsettled by the long s (as in
the word "deſcription" on page 1) and other conventions of early-modern
printing, the application includes a modernized text. This reading text has been
newly edited and annotated, and was checked against a copy of the 1787 Stockdale
edition in the Library of Congress.
</p>

<h2 id="about-notes">About <em>Notes on the State of Virginia</em>:</h2>
<p>One of the most important works written by an American in the eighteenth
century, <em>Notes on the State of Virginia</em> is Thomas Jefferson's account
of his native state, its flora and fauna, its natural wonders, its people and
their history. It is an important document in the life of its author as well as
the history of the state and the new nation of which it was a part. Originally
generated from Jefferson's memoranda and drafted during the Revolutionary War,
the text was prompted by a questionnaire given in 1780 to representatives of all
the original American states by François Marbois, secretary of the French
legation to the Continental Congress. Correspondents in several of the other
states responded to Marbois's questionnaire, but only Jefferson seized the
opportunity to write a detailed and comprehensive account of his native
Virginia. Employing Marbois's twenty queries as a structuring device—although
not constrained by them—Jefferson's <em>Notes</em> describes Virginia's
geography, its commerce, its natural history, its geography, its people, and its
political and legal institutions. In its scope, Jefferson's <em>Notes</em>
aspires to be encyclopedic, which is only one of the many ways in which it
stands as a paradigmatic project of the Enlightenment. Citing authorities on
subjects as wide-ranging as political theory, natural history, Siberian
exploration, and numismatics (among many others), Jefferson engages in a rich
dialogue with many of the most significant European thinkers of his day,
asserting both explicitly and implicitly that the new nation was every bit the
peer of its Old World counterparts.
</p>

<p>
Jefferson's text has a complicated and fascinating history. It first circulated
in manuscript copies among Jefferson's friends, and Jefferson sent Marbois a
copy of his manuscript in December of 1781. Over the next three years, Jefferson
revised and enlarged his text, incorporating new information from correspondents
and pursuing his own research. In 1784, Jefferson took the revised manuscript
with him to Paris, where he was serving as Minister to France for the
newly-independent United States of America. There, he found a printer willing to
prepare the work for distribution "to some of his friends and to some other
estimable characters beyond that line" (this language is quoted from the copy
presented to the Marquis de Lafayette). After he learned of a French translation
that was to be published against his wishes, Jefferson began negotiating with
the London publisher John Stockdale to publish an authorized edition of the book
based on a corrected copy of the private Parisian printing.
</p>

<p>
As printed books marked by manuscript additions, the two scanned copies of the
<em>Notes</em> complicate traditional scholarly distinctions between print and
manuscript cultures. No author's name appears on the title page of the 1785
edition, and the work was not so much published as printed (as he wrote to
Lafayette, Jefferson was "unwilling to expose these sheets to the public eye").
Indeed, Jefferson begs Lafayette that his printed book be circulated, like the
previous manuscript copies, only among friends. Conversely, Jefferson's own copy
of the published 1787 edition is filled with private manuscript additions,
cancellations, second thoughts, and personal touches. On many pages Jefferson
exercises a typographic hand so that his neat lettering looks almost like print.
On the bottom of pages 113 and 273, Jefferson has, as it were, signed the
signatures—that is, he has written the letter "T" before the printed "I" at the
bottom of page 113 and has drawn an "I" after the printed "T" at the bottom of
page 273. (Both Jefferson and Stockdale use a 23-letter Roman alphabet, in which
"I" and "J" are conflated.) We have incorporated his initialing—the T.I.—in the
icon for this app and promote it as an emblem of Jefferson's work. 
</p>

<p>
Just as Jefferson bestrides public and private, print and manuscript, his use of
the word "state" records another ambivalence. On the title pages of both the
Paris and London editions, the word "state" already reads as a play on words. In
his <em>Notes</em> Jefferson attempts to represent a new political entity, the
State of Virginia (an entity that included what is now West Virginia, and had
only recently given up its claim to what is now the state of Kentucky, as well
as sections of what are now Ohio, Illinois, and Indiana). But Jefferson also
attempts to capture its state or condition at the moment of publication. Writing
to an American publisher in 1814, Jefferson likened the subject of his text to a
lengthening shadow, "never stationary." What Jefferson seems to have discovered
through his drafts and revisions is that his was a ceaselessly evolving subject.
As the "state" of Virginia changed over time, and as Jefferson himself obtained
new information, or had second thoughts, he found his book in need of revision,
a process that is visible in the text and images presented here. Drafted during
the War of Independence, published in London during the Constitutional
Convention, annotated and amended in the decades that followed, the
<em>Notes</em> is a restless, revolutionary book.
</p>

<p>
By multiplying Jefferson's <em>Notes</em>, by showing it in different states,
our digital variorum edition emphasizes that the text has a temporal dimension.
We offer an edited text for those who wish to read Jefferson's work unencumbered
by our apparatus, but we encourage students and other users to compare the 1785
and 1787 printings and to study Jefferson's extensive annotations in his
personal copy, both in his own hand and in our transcriptions. This edition
offers readers a unique opportunity to encounter Jefferson's <em>Notes on the
State of Virginia</em> as published and revised in his own lifetime.
</p>

<p>
Like Jefferson's text, our digital edition invites additions. And so, in future
versions, we plan to include material from Jefferson's letters, scans from
Jefferson's original manuscript, and page images from posthumous printings. New
releases and versions will be available through the Apple App Store as free
updates.
</p>

<p>
John O'Brien and Brad Pasanek<br/>
Charlottesville, Virginia, July 9, 2012
</p>
