<% content_for :title do %>
    Credits
<% end %>

<h1>Credits</h1>

<h2>Editorial</h2>
<h3>Editors</h3>
<ul>
  <li>John O'Brien</li>
  <li>Brad Pasanek</li>
</ul>
<h3>Associate Editor</h3>
<ul><li>Virginia Anne Kinniburgh</li></ul>
<h3>Editorial Assistant</h3>
<ul><li>Martin Premoli</li></ul>

<h2>Programming and Design</h2>
<h3>Scholars' Lab</h3>
<ul>
  <li>Bethany Nowviskie, Director, Digital Research &amp; Scholarship</li>
  <li>Wayne Graham, Head, Research &amp; Development</li>
  <li>Jeremy Boggs, Design Architect</li>
  <li>Ronda Grizzle, Project Management</li>
</ul>

<h3>Performant Software Solutions, LLC</h3>
<ul>
  <li>Nick Laiacona, Director of Development</li>
  <li>Louis Foster, Lead Software Developer</li>
  <li>Kristin Jensen, Project Manager</li>
  <li>Jessica Drew, Designer</li>
</ul>

<h2>University of Virginia Libraries</h2>
<ul>
  <li>Karin Wittenborg, University Librarian, The University of Virginia</li>
  <li>Nicole Bouch&eacute;, Director, Albert Small Special Collections Library</li>
  <li>Bradley Daigle, Director, Digital Curation Services</li>
</ul>

<h2>With Special Thanks to</h2>
<ul>
  <li>The Jefferson Trust</li>
  <li>The Department of English, University of Virginia</li>
  <li>College of Arts and Sciences, University of Virginia</li>
  <li>Coulter George, Department of Classics, University of Virginia</li>
</ul>

<h2>Copyright</h2>
<ul>
  <li>&copy; The Rector and Visitors of the University of Virginia</li>
 
</ul>

<p>Brad Pasanek would like to dedicate his work on this app to the memory of Jay
Fliegelman,  who taught him to appreciate the ways in which Jefferson's
"dialectical words" mediate between product and process.</p>
