<h1>Credits</h1>
<h2>Editors</h2>
<ul>
  <li>John O'Brien</li>
  <li>Brad Pasanek</li>
</ul>
<h2>Associate Editor</h2>
<ul><li>Virginia Anne Kinniburgh</li></ul>
<h2>Editorial Assistant</h2>
<ul><li>Martin Premoli</li></ul>
<h2>Performant Software Solutions, LLC</h2>
<ul>
  <li>Nick Laiacona, Director of Development</li>
  <li>Louis Foster, Lead Software Developer</li>
  <li>Kristin Jensen, Project Manager</li>
  <li>Jessica Drew, Designer</li>
</ul>
<h2>University of Virginia Libraries</h2>
<ul>
  <li>Karin Wittenborg, University Librarian, The University of Virginia</li>
  <li>Nicole Bouché, Director, Albert Small Special Collections Library</li>
  <li>Bradley Daigle, Director, Digital Curation Services</li>
</ul>
<h2>With Special Thanks to</h2>
<ul>
  <li>The Jefferson Trust</li>
  <li>James Hilton, V.P. and Chief Information Officer, The University of Virginia</li>
  <li>The Department of English, University of Virginia</li>
  <li>College of Arts and Sciences, University of Virginia</li>
  <li>Wayne Graham, Scholars' Lab, University of Virginia Library</li>
  <li>Coulter George, Classics Department, University of Virginia</li>
</ul>
<h2>Copyright</h2>
<ul>
  <li>© The Rector and Visitors of the University of Virginia</li>
  <li>Jefferson portrait by Rembrandt Peale, 1805, from the Collection of <!--a
  href="http://www.nyhistory.org/"-->The New-York Historical Society</li>
  <li>Image of Jefferson's Revolving Bookstand courtesy of the <!--a
href="http://www.monticello.org/site/house-and-gardens/revolving-bookstand"-->Thomas
  Jefferson Foundation at Monticello</li>
</ul>

<p>Brad Pasanek would like to dedicate his work on this app to the memory of Jay
Fliegelman,  who first taught him to appreciate the ways in which Jefferson's
"dialectical words" mediate between product and process.</p>
