<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<div class="citation">
  <p>
    <%= @witness.citation.html_safe %>
  </p>
</div>

 <div class="pages">
   <% @witness.pages.each do |page| %>
     <div class="image-block">
       <% pid = 763477 + page.id %>
       <% image_reflector = "//fedoraproxy.lib.virginia.edu/fedora/objects/uva-lib:#{pid}/methods/djatoka:StaticSDef/getScaled?maxWidth=400&maxHeight=600" %>
      <%= link_to image_tag(image_reflector), witness_page_path(@witness, page) %>
    </div>
  <% end %>
</div>

