<p>This web application affords a visually rich environment in which users may inspect, compare, and analyze two different eighteenth-century printings of Thomas Jefferson's <i>Notes on the State of Virginia</i>, and study a third modern annotated reading text. </p>

<div class="toc">
    <h2>Milestones</h2>
<%= render "milestones/milestone_nav" %>
</div>

