<p><i class="site-title">On Virginia</i> is  visually rich environment in which users may inspect, compare, and analyze two different eighteenth-century printings of Thomas Jefferson's <i>Notes on the State of Virginia</i>, and study a third modern annotated reading text. </p>
<%= link_to(raw("Read <em>Notes</em>"), milestones_path, class:"read-notes") %>

<%= render "milestones/milestone_nav" %>

<%= render "layouts/navigation" %> 
