<% content_for :title do %>
    Map of Virginia
<% end %>

<div id="map"></div>

<script>

var layers = [
  new ol.layer.Tile({
      //source: new ol.source.MapQuest({layer: 'sat'})
      source: new ol.source.OSM()
  }),
  new ol.layer.Tile({
    source: new ol.source.TileWMS(/** @type {olx.source.TileWMSOptions} */ ({
      url: 'http://gis.lib.virginia.edu/geoserver/wms',
      params: {'LAYERS': 'jefferson:notes', 'TILED': true},
      attributions: [
      new ol.Attribution({
          html: 'Scan &copy; <a href="http://library.virginia.edu">Regents of the University of Virginia</a>'
          }),
      ol.source.OSM.DATA_ATTRIBUTION
      ],
      extent: [-9393883.308688186,4259186.656312424,-8246099.187224588,5228284.17952369],
      serverType: 'geoserver'
    }))
  })
];
var map = new ol.Map({
  controls: ol.control.defaults().extend([
    new ol.control.FullScreen()
    ]),
  layers: layers,
  renderer: ['canvas', 'dom'],
  target: 'map',
  view: new ol.View2D({
    center: [-8813265, 4686337],
    zoom: 8
  })
});
</script>
