<p>
From the home page a user may choose to collate or read the text, look at the
maps, or investigate the additional materials bound with Jefferson's personal
copy of the <i>Notes</i>. The user can return to the navigation on the main page
at any time by tapping the Home icon in the lower left corner of the screen.
</p>

<p><b>Collator</b>. The two scanned books and reading text are accessible in a
split-pane collator. Central to this app, the collator is <i>Notes on the State of Virginia</i>'s
homage and answer to a revolving book stand designed by Thomas Jefferson and
built by James Dinsmore and John Hemings some time around 1810. The stand,
pictured on the home page of the app, allowed Jefferson to consult up to five
books at once.</p> 

<p>In landscape orientation, the user is presented with a side-by-side view of
text and image in contiguous panes. In the right-hand pane, the user may scroll
upwards to study the books' paste-downs, boards, and spine, scroll downwards
through successive pages and inserts, or swipe between the two scanned copies of
the <i>Notes</i>. In portrait orientation, the user is able to move among the
variorum representations by swiping left and right; scrolling up or down moves
the user through the documents. In either orientation the three texts are kept
in virtual contact, so that a swipe to the left or right locates the same
relative position in a different representation of the <i>Notes</i>. More
information about reading, synchronized scrolling, and editorial materials
appears under the next tab (<a href="reading.html">Reading</a>) in this
introduction.
</p>

<p><b>Maps</b>. In the map gallery the user will find four hand-drawn maps, a
printed <i>Topographical Analysis of the Commonwealth of Virginia</i>, and a
printed map of Virginia, Maryland, Delaware, and Pennsylvania. These items,
bound into Jefferson's personal copy of the <i>Notes</i>, fold out of the
physical book. The last two, the topographical analysis and the mid-Atlantic
map, are quite large. Some of these materials were first made available to the
public in an 1853 edition of the <i>Notes</i> printed in Richmond by Joseph
Williamson Randolph and based on Jefferson’s personal copy.
</p>

<p>
<b>Tip-Ins</b>. In an annex collecting materials not original to the 1787
edition but associated posthumously with Jefferson's personal copy, the user
will discover other tipped-in materials that were bound in with Jefferson’s
<i>Notes</i> in the twentieth century. These include several nineteenth-century
letters between E.D. Ingraham and J.S. Smith on the possibility of publishing a
new edition of the <i>Notes</i> from Jefferson's personal copy. Also included
are translations of Jefferson's French, Spanish, and Italian quotations. These
translations were prepared by Maximilian Schele de Vere, professor of romance
languages at the University of Virginia from 1844 to 1895; they were
incorporated in the 1853 edition of Jefferson's <i>Notes</i> published in
Richmond. The final item in the Annex is a small calendar (March to February)
composed in Jefferson's handwriting. It is pasted onto a blank page.
</p>
