<% content_for :title do %>
  Reading
<% end %>

<h1>Comparing and Reading in Landscape Mode</h1>
<p>
Upon pressing the Collator button the reader is presented with a side-by-side
comparison of text and image. A newly-prepared transcription appears in the left
pane alongside the corresponding page image. In the right-hand frame the reader
can move between the two sets of page images from two different printings of the
<i>Notes</i> by swiping left and right. Scrolling in the two panes is
synchronized and allows the reader to compare successive pages as he or she
moves through text. By dragging the button between the two panes, the user can
move more quickly through the texts.
</p>

<h2>Reading in Portrait Mode</h2>
<p>
Upon reorienting the iPad in portrait mode, the user is presented with a modern
reading text based on the 1787 London edition. Scrolling up and down, the reader
can page through this text. Dragging the button on the slider in the farthest
right margin, the reader can move more quickly through the text. Links to
individual queries in the <i>Notes</i> appear beneath the title page.
</p>

<p>
This text has been lightly annotated for students in order to aid reading
comprehension. Tapping on a highlighted word will open one of these editorial
glosses on the people, places, and things that Jefferson discusses.
</p>

<p>
By swiping from right to left (and left to right), the reader is able to move
between the annotated reading text and the two sets of page scans. From the
reading text, the first right-to-left swipe presents the reader with Jefferson's
personal copy of the 1787 London edition. Another right-to-left swipe presents
the reader with the 1785 Paris presentation copy.
</p>

<h2>Tip-Ins and Marginalia</h2>
Several leaves and a few smaller slips of paper are "tipped in" to Jefferson’s
personal copy (that is, glued to stubs bound into the book). Those tip-ins
associated with Jefferson's revisions have been scanned and included in their
place of insertion; they are labeled "t-i" and are numbered and paginated. The
manuscript text that appears on these inserts has been transcribed as part of
the main reading text.
</p>

<p>
The revisions and additions made by Jefferson (and others) directly on the
printed pages can also be examined. While viewing the page images, the reader
can view both a transcription of the manuscript additions and an editorial
description of the marks on the page. Pages with markings are indicated by the
appearance of a Transcription button in the menu bar at the bottom margin of the
application. This button opens both transcriptions and descriptions in a pop-up
window. Tapping outside of the pop-up window closes it.
</p>
