<nav class="pager">
  <%= link_to @milestone.prev.title, [@milestone.prev], class: "previous" unless @milestone.prev.nil? %>
  <%= link_to @milestone.next.title, [@milestone.next], class: "next" unless @milestone.next.nil? %>
</nav>
