<h1><%= @milestone.title %></h1>

<%= @milestone.content.html_safe %>

<div class="pagination">
  <%= link_to "Previous", [@milestone.prev], class: "previous" unless @milestone.prev.nil? %>
  <%= link_to "Next", [@milestone.next], class: "next" unless @milestone.next.nil? %>
</div>
