/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *



 */

.ol-attribution{position:absolute;text-align:right;bottom:0;right:0;padding:6px;color:#000;color:rgba(238,238,238,1);background:rgba(0,60,136,0.3)}.ol-attribution a{text-decoration:none;color:#7b98bc;color:rgba(255,255,255,1)}.ol-attribution ul{margin:0;padding:0;font-size:10px;line-height:12px}.ol-attribution li{display:inline;list-style:none;line-height:inherit}.ol-attribution li:not(:last-child):after{content:"\002003"}.ol-attribution-bing-tos{float:right;padding-top:2px;white-space:nowrap}.ol-logo{bottom:0;left:0;padding:2px;position:absolute}.ol-logo ul{margin:0;padding:0}.ol-logo ul li{display:inline;list-style:none}.ol-mouse-position{top:8px;right:8px;position:absolute}.ol-scale-line{background:#95b9e6;background:rgba(0,60,136,0.3);border-radius:4px;bottom:8px;left:8px;padding:2px;position:absolute}.ol-scale-line-inner{border:1px solid #eee;border-top:none;color:#eee;font-size:10px;text-align:center;margin:1px;padding:0 2px}.ol-unsupported{display:none}.ol-viewport .ol-unselectable{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}.ol-zoom,.ol-zoom-extent,.ol-full-screen{position:absolute;background-color:#eee;background-color:rgba(255,255,255,0.4);border-radius:4px;padding:2px}.ol-zoom:hover,.ol-zoom-extent:hover,.ol-full-screen:hover{background-color:rgba(255,255,255,0.6)}.ol-zoom{top:.5em;left:.5em}.ol-zoom-extent{top:4.643em;left:.5em}.ol-full-screen{right:.5em;top:.5em}@media print{.ol-zoom,.ol-zoom-extent,.ol-full-screen{display:none}}.ol-zoom button,.ol-zoom-extent button,.ol-full-screen button{display:block;margin:1px;padding:0;color:white;font-size:1.14em;font-weight:bold;text-decoration:none;text-align:center;height:1.375em;width:1.375em;line-height:.4em;background-color:#7b98bc;background-color:rgba(0,60,136,0.5);border:none}.ol-zoom button::-moz-focus-inner,.ol-zoom-extent button::-moz-focus-inner,.ol-full-screen button::-moz-focus-inner{border:none;padding:0}.ol-zoom-extent button{line-height:1.4em}.ol-touch .ol-zoom button,.ol-touch .ol-full-screen button,.ol-touch .ol-zoom-extent button{font-size:1.5em}.ol-touch .ol-zoom-extent{top:5.5em}.ol-zoom button:hover,.ol-zoom button:focus,.ol-zoom-extent button:hover,.ol-zoom-extent button:focus,.ol-full-screen button:hover,.ol-full-screen button:focus{text-decoration:none;background-color:#4c6079;background-color:rgba(0,60,136,0.7)}.ol-zoom-extent button:after{content:"E"}.ol-zoom-in{border-radius:2px 2px 0 0}.ol-zoom-out{border-radius:0 0 2px 2px}button.ol-full-screen-false:after{content:"\002194"}button.ol-full-screen-true:after{content:"\0000d7"}.ol-has-tooltip [role=tooltip]{position:absolute;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);padding:0;border:0;height:1px;width:1px;overflow:hidden;font-weight:normal;font-size:14px;text-shadow:0 0 2px #fff}.ol-has-tooltip:hover [role=tooltip],.ol-has-tooltip:focus [role=tooltip]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;clip:auto;padding:0 .4em;font-size:.8em;height:1.2em;width:auto;line-height:1.2em;z-index:1100;max-height:100px;white-space:nowrap;display:inline-block;background:#fff;background:rgba(255,255,255,0.6);color:#000;border:3px solid rgba(255,255,255,0);border-left-width:0;border-radius:0 4px 4px 0;bottom:.3em;left:2.2em}.ol-touch .ol-has-tooltip:hover [role=tooltip],.ol-touch .ol-has-tooltip:focus [role=tooltip]{display:none}.ol-zoom .ol-has-tooltip:hover [role=tooltip],.ol-zoom .ol-has-tooltip:focus [role=tooltip]{top:1.1em}.ol-full-screen .ol-has-tooltip:hover [role=tooltip],.ol-full-screen .ol-has-tooltip:focus [role=tooltip]{right:2.2em;left:auto;border-radius:4px 0 0 4px}.ol-zoomslider{position:absolute;top:4.5em;left:.5em;background:#eee;background:rgba(255,255,255,0.4);border-radius:4px;outline:none;overflow:hidden;width:1.5675em;height:200px;padding:3px;margin:0}.ol-zoomslider-thumb{position:absolute;display:block;background:#7b98bc;background:rgba(0,60,136,0.5);border-radius:2px;outline:none;overflow:hidden;cursor:pointer;font-size:1.14em;height:1em;width:1.375em;margin:3px;padding:0}.ol-touch .ol-zoomslider{top:5.5em;width:2.052em}.ol-touch .ol-zoomslider-thumb{width:1.8em}.ol-zoom-extent button,.ol-attribution,.ol-full-screen button,.ol-scale-line-inner,.ol-zoom button,.ol-has-tooltip [role=tooltip]{font-family:'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif}
/* line 7, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
html {
  background-color: #f0f0f0;
  background: -webkit-linear-gradient(from top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/jefferson-flipped.jpg);
  background: linear-gradient(to  bottom , rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/jefferson-flipped.jpg);
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media (max-width: 400px) {
  /* line 12, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  html {
    background-position: bottom right, -500px bottom;
  }
}

/* line 28, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
body {
  font-family: 'Libre Baskerville', Georgia, serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* line 37, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
a:link {
  color: #358;
}
/* line 40, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
a:visited {
  color: #38c;
}
/* line 43, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
a:hover {
  color: rgba(51, 85, 136, 0.75);
}
/* line 48, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
a a:active {
  color: #555;
}

/* line 54, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
main h1:first-of-type {
  border-bottom: 1px dotted #ccc;
}
/* line 58, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.map main h1 {
  border: none;
  margin: 0;
}
/* line 63, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.results .search_result h1 {
  border: none;
  padding-bottom: 0;
  margin: 0;
}

/* line 77, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
h3 {
  font-weight: normal;
}

/* line 85, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.milestone h4 {
  margin-top: 0;
}

/* line 99, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
h6 {
  font-style: italic;
}

/* line 106, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0;
}

/* line 114, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
p:empty {
  margin: 0;
}

/* line 118, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul, ol {
  margin-left: 2rem;
}

/* line 122, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul {
  list-style: disc;
}

/* line 126, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ol {
  list-style: decimal;
}

/* line 130, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul, ol {
  padding: 0;
}
/* line 133, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul ul, ol ul {
  list-style: circle;
}
/* line 137, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul ol, ol ol {
  list-style: upper-alpha;
}
/* line 141, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul ul, ul ol, ol ul, ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 145, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul ul ul, ul ol ul, ol ul ul, ol ol ul {
  list-style: square;
}
/* line 149, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul ul ol, ul ol ol, ol ul ol, ol ol ol {
  list-style: lower-alpha;
}

/* line 155, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* line 162, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
em, i {
  font-style: italic;
}

/* line 166, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
strong, b {
  font-weight: bold;
}

/* line 170, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
mark {
  background: #fff990;
  padding: 0.15em 0.25em;
}

/* line 175, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.table {
  overflow-y: scroll;
  max-width: 100%;
  border: 2px solid #ccc;
  padding: 0 5px;
}

/* line 182, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
table {
  padding: 0;
  max-width: 98%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
/* line 188, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
table td {
  padding: .25em .5em;
  border-bottom: 1px solid #ccc;
}

/*author note (footnotes from the book)*/
/* line 198, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.authorNote {
  background: #fff;
  width: 100%;
}

/*top scroll*/
/* line 204, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.scroll-to-top {
  position: fixed;
  background: url(/assets/scroll-to-top.png) no-repeat;
  cursor: pointer;
  bottom: 2em;
  height: 55px;
  right: 15px;
  width: 55px;
  padding-right: 1em;
  display: none;
  z-index: 999;
}

/* line 217, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#skip-link {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 228, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.editorialTrigger, .note {
  cursor: pointer;
  color: #206fbd;
  line-height: 0;
}

/* line 234, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.note {
  line-height: 0;
}

/* line 238, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
div.tip-in {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
/* line 242, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
div.tip-in:before {
  content: "Tip-in";
  display: block;
  font-style: italic;
  color: #999;
  text-align: right;
}

/* line 252, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
}
/* line 264, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner h1,
#banner nav {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 269, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner a {
  color: #f0f0f0;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
/* line 275, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner h1,
#banner nav > ul {
  margin: 0;
  padding: 0;
  font-variant: small-caps;
  font-size: 1rem;
  line-height: 2;
}
/* line 284, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner nav {
  text-align: right;
}
/* line 289, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner nav form {
  margin: 0;
}
/* line 293, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner nav li {
  display: inline-block;
  cursor: pointer;
}
/* line 297, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner nav li:hover, #banner nav li:focus {
  background: #292929;
}
/* line 302, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner nav li a {
  display: block;
  margin: 0;
  padding: 0 1em;
}
/* line 306, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner nav li a:hover, #banner nav li a:focus {
  background: #292929;
}
/* line 312, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner nav li > ul {
  display: none;
  clear: both;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -1px;
  background: #292929;
  color: white;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.25;
}
/* line 324, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner nav li > ul.open {
  display: block;
  padding: 3em;
}
/* line 329, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner nav li > ul li {
  display: block;
}
/* line 333, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#banner nav li > ul a {
  padding: 1em;
}

/* line 342, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul.milestones {
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0;
  list-style: none;
  padding: 1em;
}
/* line 348, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#globalnav ul.milestones {
  z-index: 15;
}
@media (min-width: 500px) {
  /* line 342, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  ul.milestones {
    padding: 2em;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-rule: 1px solid rgba(255, 255, 255, 0.1);
    -moz-column-rule: 1px solid rgba(255, 255, 255, 0.1);
    column-rule: 1px solid rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 700px) {
  /* line 342, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  ul.milestones {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }
}
@media (min-width: 900px) {
  /* line 342, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  ul.milestones {
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
  }
}
@media (min-width: 1100px) {
  /* line 342, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  ul.milestones {
    -webkit-columns: 5;
    -moz-columns: 5;
    columns: 5;
  }
}
/* line 371, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul.milestones li {
  display: block;
  border: none;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  border-width: 0 0 1px 0;
}
/* line 379, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul.milestones li a {
  display: block;
  border: none;
  padding: 1em;
  text-decoration: none;
}
/* line 384, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul.milestones li a span {
  display: block;
  color: rgba(255, 255, 255, 0.5);
}
/* line 387, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
ul.milestones li a span:last-child {
  color: rgba(255, 255, 255, 0.9);
}

/* line 395, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
#map {
  height: 700px;
}

/* line 399, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
main {
  padding: 20px;
  background: #fff;
  background: rgba(255, 255, 255, 0.875);
}
@media (min-width: 500px) {
  /* line 399, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  main {
    padding: 20px 40px;
  }
}
@media (min-width: 700px) {
  /* line 399, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  main {
    padding: 40px 80px;
  }
}
/* line 419, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.home main {
  background: none;
  color: #fff;
}
@media (min-width: 700px) {
  /* line 419, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  .home main {
    padding-right: 300px;
  }
}
@media (min-width: 900px) {
  /* line 419, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  .home main {
    padding-right: 400px;
  }
}
/* line 430, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.home main .milestones {
  background: none;
}
/* line 440, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.milestones main .milestone > div {
  margin-left: 250px;
}
/* line 444, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.milestones main .milestone .marginNote {
  font-style: italic;
  color: #999;
  margin-top: rhythm(1);
}
/* line 450, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.milestones main .milestone .thumbs {
  margin: rhythm(1) 0;
  border-top: 1px dotted #ccc;
  border-color: rgba(0, 0, 0, 0.15);
  padding-top: rhythm(1);
}
/* line 456, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.milestones main .milestone .thumbs:first-of-type {
  margin-top: 0;
  border-top: none;
}
/* line 461, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.milestones main .milestone .thumbs figure {
  display: inline-block;
  float: left;
  width: 48%;
}
/* line 465, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.milestones main .milestone .thumbs figure + figure {
  margin: 0;
  float: right;
}
@media (min-width: 700px) {
  /* line 482, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  .home main .milestones {
    padding: 0 !important;
  }
  /* line 488, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  .milestones main {
    width: auto;
    /*@include bleed;*/
  }
  /* line 492, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  .milestones main .milestone {
    position: relative;
  }
  /* line 495, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  .milestones main .milestone .marginNote {
    position: absolute;
    left: 0;
    width: 17.72152%;
    text-align: right;
  }
  /* line 500, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  .milestones main .milestone .marginNote + p {
    margin-top: rhythm(1);
  }
  /* line 505, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  .milestones main .milestone .thumbs {
    padding-top: 0;
    clear: right;
    float: right;
  }
  /* line 509, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  .milestones main .milestone .thumbs figure {
    display: inline-block;
    float: right;
    clear: right;
    width: auto;
    margin: rhythm(1) 0 0;
  }
}

/* line 531, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.pager {
  clear: both;
  margin: 0;
  padding: rhythm(1) 0;
}
/* line 20, /Users/err8n/.rvm/gems/ruby-2.3.1@jefferson-notes/gems/bourbon-4.2.7/app/assets/stylesheets/addons/_clearfix.scss */
.pager::after {
  clear: both;
  content: "";
  display: table;
}
/* line 537, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.pager a {
  text-decoration: none;
}
/* line 541, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.pager .next,
.pager .previous {
  float: left;
  clear: left;
  max-width: 45%;
}
/* line 546, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.pager .next:before,
.pager .previous:before {
  display: block;
  color: #999;
  margin: 0;
  content: "Previous";
  font-style: italic;
}
/* line 555, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.pager .next {
  float: right;
  text-align: right;
  clear: right;
}
/* line 560, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.pager .next:before {
  content: "Next";
}

/* line 566, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.read-notes {
  display: block;
  text-decoration: none;
  padding: rhythm(1);
  text-align: center;
}
/* line 572, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.read-notes:link, .read-notes:visited {
  color: #f0f0f0;
  color: rgba(255, 255, 255, 0.9);
  background: #555;
  background: rgba(0, 0, 0, 0.35);
}
/* line 580, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.read-notes:hover, .read-notes:focus {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  outline: 1px dotted rgba(255, 255, 255, 0.1);
}
/* line 587, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.read-notes:active {
  background: #333;
  background: rgba(0, 0, 0, 0.65);
}

/* line 594, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.search_result {
  padding: rhythm(1) 0;
}
/* line 20, /Users/err8n/.rvm/gems/ruby-2.3.1@jefferson-notes/gems/bourbon-4.2.7/app/assets/stylesheets/addons/_clearfix.scss */
.search_result::after {
  clear: both;
  content: "";
  display: table;
}
/* line 598, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.search_result + .search_result {
  border-top: 1px dotted #ccc;
}

/* line 607, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.pagination {
  text-align: center;
}
/* line 609, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.pagination .disabled {
  display: none;
}

/* line 617, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
.popover-content {
  font-size: .9rem;
}

/* line 621, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
footer {
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
  color: rgba(255, 255, 255, 0.9);
}
/* line 628, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
footer p {
  margin: 0;
  font-size: .8rem;
}
/* line 635, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
footer a:link, footer a:visited {
  color: #f0f0f0;
  color: rgba(255, 255, 255, 0.8);
}
/* line 640, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
footer a:link img, footer a:visited img {
  opacity: 0.8;
}
/* line 645, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
footer a:hover, footer a:focus, footer a:active {
  color: #f0f0f0;
  color: rgba(255, 255, 255, 0.8);
}
/* line 651, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
footer a:hover img, footer a:focus img, footer a:active img {
  opacity: 1;
}

@media print {
  /* line 662, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 669, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 674, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 678, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 686, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 691, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 697, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 701, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 706, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 714, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 721, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/all.css.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .modal.in .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857px; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }
  .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table; }
  .modal-footer:after {
    clear: both; }
  .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

  .modal-sm {
    width: 300px; } }
@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal; }
  .popover.top {
    margin-top: -10px; }
  .popover.right {
    margin-left: 10px; }
  .popover.bottom {
    margin-top: 10px; }
  .popover.left {
    margin-left: -10px; }

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0; }

.popover-content {
  padding: 9px 14px; }

.popover > .arrow, .popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.popover > .arrow {
  border-width: 11px; }

.popover > .arrow:after {
  border-width: 10px;
  content: ""; }

.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px; }
  .popover.top > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #fff; }
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25); }
  .popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #fff; }
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px; }
  .popover.bottom > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #fff; }
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25); }
  .popover.left > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #fff;
    bottom: -10px; }
.modal-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px; }
  .modal-header .bootbox-close-button {
    float: right;
    background-color: transparent;
    background-image: none;
    border-bottom-color: black;
    border: none;
    font-size: 21px; }

.addDescription {
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #e5e5e5; }

.btn-primary {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin: 0 5px;
  display: inline;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: no-wrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px; }
  .btn-primary, .btn-primary:hover, .btn-primary:active {
    background-color: #f7f7f9; }
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css");
/* line 24, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
[class*="fontawesome"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* line 28, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.hidden {
  display: none;
}

/* line 30, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.search {
  vertical-align: middle;
}
/* line 33, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.search form {
  position: relative;
}
/* line 37, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.search input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
/* line 42, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.search .searchfield {
  float: right;
  width: 120px;
  padding: 3px 10px;
  padding-right: 45px;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
/* line 50, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.search .searchfield:focus {
  color: #555;
  /*@include box-shadow( inset 0 1px 2px rgba(0,0,0, .2), 0 0 0 6px #e0e0e0);*/
}
/* line 55, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.search #search-btn {
  background: transparent url(http://s.cdpn.io/1601/mag-glass.png) no-repeat;
  background-size: contain;
  position: absolute;
  height: 12px;
  width: 12px;
  top: 6px;
  right: 6px;
  border: 0;
  cursor: pointer;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/* line 67, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.search #search-btn:focus, .search #search-btn:hover, .search #search-btn:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  outline: 0;
  border: 0;
}
/* line 77, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.search .searchfield:focus + #search-btn {
  right: 10px;
}
/* line 5, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.search::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
}
/* line 9, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.search:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
  font-style: italic;
}
/* line 13, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.search::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
  font-style: italic;
}
/* line 17, /Users/err8n/p/jefferson-notes/app/assets/stylesheets/search.css.scss */
.search:-ms-input-placeholder {
  color: #ccc;
  font-style: italic;
}
