<h1>Witnesses</h1>

<p>Find me in app/views/witnesses/index.html.erb</p>

<p>This page hides the fact that there are multiple witnesses as there is only one transcription.</p>

<div class="citation">
    <p><%= link_to @witness.citation.html_safe, @witness %></p>
</div>


