<p id="notice"><%= notice %></p>

<div class="citation">
  <p>
    <%= @witness.citation.html_safe %>
  </p>
</div>

<div class="pages">
  <% @witness.pages.each do |page| %>
    <div class="thumbnails">
      <% image = page.images.first %>
      <% unless image.nil? %>
          <div class="thumbnail">
          <%= link_to image_tag(fedora_squarethumb(image.pid)), witness_page_path(@witness, page) %>
          <p><%= page %></p>
      </div>
      <% end %>
    </div>
  <% end %>
</div>

