<p id="notice"><%= notice %></p>

<div class="citation">
  <p>
    <%= @witness.citation.html_safe %>
  </p>
</div>

<div class="pages">
  <% @witness.pages.each do |page| %>
    <div class="image-block">
      <%= link_to image_tag('http://baconmockup.com/200/300'), witness_page_path(@witness, page) %>
    </div>
  <% end %>
</div>

