<h1>ImagesMilestones#index</h1>
<div class="thumbnails">
  <% @images.each do |image| %>
    <div class="thumbnail">
      <a href="/milestones/<%= image.slug %>#<%= image.page_id %>">
        <img alt="1787 Edition" class="thumb lazy" width="89" height="125" data-original="<%= fedora_thumb(image.fedora_pid) %>">
      </a>
      <%#= link_to( image_tag(fedora_thumb(image.fedora_pid)), "/milestones/#{image.slug}\##{image.page_id}") %>
    </div>
  <% end %>
</div>
