<% @pages.each do |page| %>
  <div class="image-block">
    <% unless page.images.count == 0 %>
      <%= link_to(image_tag(fedora_url(page.images.first.pid, 150, 200)), page_path(page)) %>
    <% end %>
  </div>
<% end %>

