// Susy 2.0 settings.
$container: 100%;
$columns: 18;
$gutters: 1/4;
$gutter-placement: before;

// Compass settings.
$grid-background-baseline-color: rgba(0,0,0,0.2);

// Show or hide the container grid background.
$grid: hide;
