//= depend_on_asset "jefferson-flipped.jpg"
//= depend_on_asset "scroll-to-top.png"
//
@import "compass";
@import "susy";
@import "compass/reset";
@import "settings";

@media screen {

  @import "mixins";

    * {
        @include box-sizing(border-box);
    }

    @include establish-baseline;

    html {
        background-color: #f0f0f0;
        background-image: url(image-path("jefferson-flipped.jpg"));
        background-position:bottom right;
        @include background-size(cover);
        background-attachment:fixed;
        background-repeat:no-repeat;
        @media (max-width:400px) {
        background-position: -500px bottom;
        }

    }

    body {
        @include container($grid);
        font-family: 'Libre Baskerville', Georgia, serif;
    }

    a {
        &:link {
            color: #358;
        }
        &:visited {
            color: #38c;
        }
        &:hover {
            color: rgba(#358, 0.75);
        }
        a:focus {
        }
        a:active {
            color: #555;
        }
    }

    h1 {
      @include adjust-font-size-to(28px);
      @include adjust-leading-to(1.5, 28px);
      @include leader(1,28px);
      @include trailer(2,28px);

      main &:first-of-type {
        border-bottom: 1px dotted #ccc;
        padding-bottom: rhythm(2,28px);
      }

      @media (min-width:480px) {
      @include adjust-font-size-to(36px);
      @include adjust-leading-to(2, 36px);
      @include leader(1,36px);
      @include trailer(2,36px);
      main &:first-of-type {
        border-bottom: 1px dotted #ccc;
        padding-bottom: rhythm(2,36px);
      }
      }

      .results .search_result & {
        border:none;
        padding-bottom:0;
      @include adjust-font-size-to(20px);
      @include adjust-leading-to(1.25, 20px);
      margin:0;

      }

    }

    h2 {
      @include adjust-font-size-to(24px);
      @include leader(2, 24px);

      h1 + & {
          @include leader(1,24px);
      }
    }

    h3 {
      @include adjust-font-size-to(20px);
      font-weight:normal;
      @include leader(2, 20px);
      h2 + & {
        @include leader(1, 20px);
      }
    }

    h4 {
      @include adjust-font-size-to($base-font-size);
      @include leader(2);

      .milestone & {
          @extend h2;
          margin-top:0;
      }

      h3 + & {
        @include leader(1);
      }
    }

    h5 {
      @include adjust-font-size-to($base-font-size);
      @include leader(2);
      h4 + & {
        @include leader(1);
      }

    }

    h6 {
      @include adjust-font-size-to($base-font-size);
      font-style:italic;
      @include leader(2);
      h5 + & {
        @include leader(1);
      }
    }

    #{headings(3,6)} {
       + p {
        margin-top:0;
      }
    }

    p,ul,ol,dl {
        @include rhythm(1);
    }

    p:empty {
        margin:0;
    }

    ul {
        list-style:disc;
    }

    ol {
        list-style:decimal;
    }

    ul,ol {
        padding:0;
        margin: rhythm(1) 0 rhythm(1) rhythm(1);

        ul {
            list-style: circle;
        }

        ol {
            list-style: upper-alpha;
        }

        ul, ol {
            margin: 0 0 0 rhythm(1);

            ul {
                list-style:square;
            }

            ol {
                list-style:lower-alpha;
            }
        }
    }

    img {
        max-width:100%;
        max-height: 100%;
        width:auto;
        height:auto;
    }

    em,i {
        font-style:italic;
    }

    strong,b {
        font-weight:bold;
    }

    mark {
        background: #fff990;
        padding: 0.15em 0.25em;
    }

    .table {
        overflow-y: scroll;
        max-width: 100%;
        border: 2px solid #ccc;
        padding: 0 5px;
        margin-top: rhythm(1);
    }

    table {
        padding:0;
        margin: rhythm(1, 12px) 0;
        @include adjust-font-size-to(12px);
        max-width:98%;
        border-collapse: collapse;
        border:1px solid #ccc;

        td {
            padding: .25em .5em;
            border-bottom:1px solid #ccc;
        }
    }

    .addEditorial {
        @extend %hidden;
    }

    /*author note (footnotes from the book)*/
    .authorNote {
      @include adjust-font-size-to(12px);
      @include leader(1, 12px);
      @include trailer(1, 12px);
      padding: rhythm(1, 12px);
      background: #fff;
      width: 100%;
    }

    /*top scroll*/
    .scroll-to-top {
      position: fixed;
      background: image-url('scroll-to-top.png') no-repeat;
      cursor: pointer;
      bottom: 2em;
      height: 55px;
      right: 15px;
      width: 55px;
      padding-right: 1em;
      display:none;
      z-index: 999;
    }

    #skip-link {
        @extend %visuallyhidden;
    }

    .editorialTrigger, .note {
        cursor: pointer;
        color: darken(#38d, 10%);
        line-height:0;
    }

    .note {
        @include adjust-font-size-to(20px);
        line-height:0;
    }

    #banner {
        background-color: rgba(black, 0.5);
        border-bottom:1px solid rgba(white, 0.25);
        color: white;
        color: rgba(white, 0.9);
        @extend %clearfix;
        position:relative;

        a {
            color: #f0f0f0;
            color: rgba(white, 0.8);
            text-decoration:none;
        }

        h1,ul {
            @include adjust-font-size-to(14px);
            @include adjust-leading-to(2,14px);
            margin:0;
            padding:0;
            @extend %clearfix;
            font-variant:small-caps;
        }

        h1 {
            float:left;
            margin-left: 1em;
            margin-right:1em;
        }

        nav {
            margin-right:1em;

            @media (min-width:700px) {
                float:right;
            }

            form {
                margin:0;
            }

            li {
                display: inline-block;
                cursor: pointer;

                &:hover,
                &:focus {
                    background: #292929;
                }

                a {
                    display:block;
                    margin:0;
                    padding: 0 1em;
                    &:hover,
                    &:focus {
                        background: #292929;
                    }
                }

                & > ul {
                    display:none;
                    clear:both;
                    position:absolute;
                    left:0;
                    right:0;
                    margin-top: -1px;
                    background: #292929;
                    color: white;
                    color: rgba(white, 0.9);
                    font-size:1em;
                    @include adjust-leading-to(1, 14px);

                    &.open {
                        display:block;
                        padding: 3em;
                    }

                    li {
                        display:block;
                    }

                    a {
                        padding: 1em;
                    }

                }
            }
        }
    }

    ul.milestones {
        background-color: rgba(black, 0.75);
        margin:0;
        list-style:none;
        padding: 1em;

        #globalnav & { z-index: 15; }

        @media (min-width: 500px) {
            padding:2em;
            @include columns(2);
            -moz-column-rule: 1px solid rgba(white, 0.1);
            -moz-column-gap: 60px;
        }

        @media (min-width: 900px) {
            @include columns(3);

            #globalnav & {
                @include columns(4);
            }

        }

        @media (min-width: 1200px) {
            #globalnav & {
                @include columns(6);
            }

        }

        li {
            display:block;
            border:none;
            page-break-inside:avoid;
            -webkit-column-break-inside: avoid;
            break-inside: avoid-column;
            border-width: 0 0 1px 0;

            a {
                display:block;
                border:none;
                padding:1em;
                text-decoration:none;
                span {
                    display:block;
                    color: rgba(white, 0.5);
                    @include adjust-font-size-to(12px);
                    &:last-child {
                        @include adjust-font-size-to(18px);
                        color: rgba(white, .9);
                    }
                }
            }
        }
    }

    #map {
        height: 250px;
    }

    main {
        padding-top: rhythm(2);
        padding-bottom: rhythm(2);
        @include pad(1,1);

        .map & {
            padding: rhythm(1) !important;

            h1 {
                border:none;
                padding:0;
                margin:0;
                @include pad(1,1);
            }
        }

        background: #fff;
        background: rgba(white, 0.875);

        .home & {
            background: rgba(black, 0.4);
            color: #fff;

            .milestones{
                background:none;
            }

        }

        .milestones & {
            .milestone {
                @include pad(0,4);


                .marginNote {
                    @extend h4;
                    font-style:italic;
                    color: #999;
                    margin-top: rhythm(1);
                }

                .thumbs {
                  margin-top: rhythm(1);
                  border-top: 1px dotted #ccc;
                  border-color: rgba(black, 0.15);
                  padding-top:rhythm(1);

                  &:first-of-type {
                      margin-top:0;
                      border-top:none;
                  }

                  figure {
                      display:inline-block;
                      float:left;
                      width: 48%;
                      & + figure {
                          margin:0;
                          float:right;
                      }
                  }
                }
            }
        }

        @media (min-width:700px) {

        .static_pages &,
        .results & {
            @include pad(2,2);
        }

        .home & {
            @include pad(1,8);

            .milestones {
                padding: 0 !important;
            }
        }


        .milestones & {
            width: auto;
            /*@include bleed;*/

            .milestone {
                position:relative;
               @include pad(4 of 16);

              .marginNote {
                  position:absolute;
                  left:0;
                  width: span(3 of 16);
                  text-align:right;
                  & + p {
                      margin-top: rhythm(1);
                  }
              }

            .thumbs {
              margin-right: -(span(3 of 8 widest));
              padding-top:0;
              clear:right;
              figure {
                  display:inline-block;
                  float:right;
                  clear:right;
                  width: auto;
                  margin: rhythm(1) 0 0;
                  @include adjust-font-size-to(14px);
              }

           }

             }
        }

        }

        @media (min-width: 960px) {

            .static_pages &,
            .results & {
                @include pad(3,3);
            }

            .home & {
                @include pad(1,8);
            }

        }

    }

    // Milestone navigation.
    .pager {
        clear:both;
        margin:0;
        padding:rhythm(1) 0;
        @include clearfix;

        a {
            text-decoration:none;
        }

        .next,
        .previous {
            float:left;
            clear:left;
            max-width: 45%;
            &:before {
                display:block;
                color: #999;
                margin:0;
                content: "Previous";
                @include adjust-font-size-to(12px);
                font-style:italic;
            }
        }

        .next {
            float:right;
            text-align:right;
            clear:right;

            &:before {
                content: "Next";
            }
        }
    }

    .pagenum {
      display: none;
        /*@include adjust-font-size-to(14px);*/
        /*@include adjust-leading-to(1,14px);*/
        /*color: #888;*/
    }

    .read-notes {
        display:block;
        text-decoration:none;
        padding:rhythm(1);
        text-align:center;
        @include adjust-font-size-to(24px);
        @include adjust-leading-to(1,24px);
        @include leader(3,24px);

        &:link,
        &:visited {
            color: #f0f0f0;
            color: rgba(white, 0.9);
            background: #555;
            background:rgba(black,0.35);
        }

        &:hover,
        &:focus {
            background: #444;
            background:rgba(black,0.5);
            outline: 1px dotted rgba(white, 0.1);
        }

        &:active {
            background: #333;
            background:rgba(black,0.65);
        }
    }

    // Search Results
    .search_result {
        padding: rhythm(1) 0;
        @include clearfix;

        & + .search_result {
            border-top: 1px dotted #ccc;
        }

        @media (min-width: 700px) {

            h1 {
                @include span(4 of 16);
            }

            p {
                @include span(last 12 of 16);
                margin:0;
            }

        }
    }

    .pagination {
        text-align:center;
        .disabled {
            display:none;
        }
    }

    .thumbnails {
        overflow:hidden;
        .thumbnail {
            @include gallery(4 of 16);
        }

        @media (min-width:700px) {
        .thumbnail {
            @include gallery(3 of 18);
        }
    }
    }
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
