// Place all the styles related to the milestones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/popovers";

.pagenum {
  display: none;
}

#toc {
  display: none;
  font-family: Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif;
  background: #131313;
  color: #f8f8f8;
  overflow-y: hidden;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 12px;

  h1 {
    font-style: italic;
    border-bottom: 1px solid rgba(126,126,126, 0.3);
    padding: 35px 15px 15px 15px;
    margin: 0 20px 20px 20px;
    position: relative;
    font-size: 38px;

    small { font-size: 75%; }
  }

  a {
    color: #308fd9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
      color: #87b6da;
    }
  }

  .headline {
    text-align: center;
  }

}

.toc-menu {
  position: fixed;
  z-index: 100;
  color: #f8f8f8;
  background: #131313;
  width: 200px;
  left: 0;
  top: 50px;;
  height: 100%;

  .author {
    text-transform: uppercase;
    display: block;
    letter-spacing: 2px;
    text-align: center;
    /*border-bottom: 1px dashed rgba(126,126,126, 0.2);*/
  }

  nav {
    padding-top: 30px;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow-y: scroll;

    a {
      display: block;
      padding: 10px 20px;
      text-align: center;
      outline: none;
      border-bottom: 1px dashed rgba(126,126,126, 0.2);
      text-decoration: none;

      &:active { box-shadow: 7px 0px 17px #000 inset; }

      span:nth-child(2) {
        display: block;
        color: #fff;
        font-style: italic;
        text-transform: none;
        padding-top: 3px;
        font-size: 14px;
      }
    }
  }
}


