<nav>
  <ul>
    <li><%= link_to 'About', static_pages_about_path %></li>
    <li><%= link_to 'Credits', static_pages_credits_path %></li>
    <li class="search">
      <form action="/search/results" method="get" accept-charset="utf-8">
        <input type="text" name="search-input" id="search-input" class="searchfield" placeholder="Search..." />
        <input type="submit" name="search-btn" id="search-btn" value="" />
      </form>
    </li>
  </ul>
</nav>
